/* SELEKTORY: */
h6 {
font-size: xx-large;
color: ;
background-color: ;
margin: ;
}
p {
	font-family: arial;
font-size: ;
color: ;
background-color: ;
margin: ;
}
pre, code {
font-size: 8pt;
}
